.bs4-order-tracking {
    margin-bottom: 30px;
    overflow: hidden;
    color: #878788;
    padding-left: 0px;
    margin-top: 30px;
}

.bs4-order-tracking li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #8f8fa5;
    text-align: center;
}

.bs4-order-tracking li:first-child:before {
    margin-left: 15px !important;
    padding-left: 11px !important;
    text-align: left !important;
}

.bs4-order-tracking li:last-child:before {
    margin-right: 5px !important;
    padding-right: 11px !important;
    text-align: right !important;
}

.bs4-order-tracking li>div {
    color: #fff;
    width: 29px;
    text-align: center;
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #878788;
    border-radius: 50%;
    margin: auto;
}

.bs4-order-tracking li:after {
    content: '';
    width: 150%;
    height: 2px;
    background: #a0a0a3;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
}

.bs4-order-tracking li:first-child:after {
    left: 50%;
}

.bs4-order-tracking li:last-child:after {
    left: 0% !important;
    width: 0% !important;
}

.bs4-order-tracking li.active {
    font-weight: bold;
    color: #38181c;
}

.bs4-order-tracking li.active>div {
    background: #836f71;
}

.bs4-order-tracking li.active:after {
    background: #4b3033;
}

.card-timeline {
    background-color: #fff;
    z-index: 0;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    padding-top: 5rem;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }

    .homebody {
        background-image: url('/img/cover.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .alert {
        margin-top: -20px;
        text-align: right;
        color: #ffffff;
    }
    button.btn {
        margin-top: 250px;
        font-size: 20px;
        font-weight: bold;
        background-color: #b35900;
        border-radius: 10px;
        color: #ffffff;
    }

    .sub-text {
        margin-top: 130px;
        color: #ac7339;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .sub-text h1 {
        margin-top: 20px;
        color: #030303;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .intro {
        margin-left: 150px;
        margin-right: 150px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .featured {
        margin-top: 4%;
        margin-bottom: 20%;
        display: flex;
        justify-content: space-between;
    }
    .featured img {
        width: 24%;
        flex-direction: row;
    }

    .navbar-nav > li{
            margin-left:30px;
            margin-right:30px;
    }

    .login-title {
            margin-top: 150px;
    }

}

.required {
    color: red;
}

#containerId {
    margin-right: auto;
    margin-left: auto;
    width: 850px;
    margin-top: 60px;
}

.coverImg {
    width: 100%;
    height: 200px;
    margin-top: -90px;
    object-fit: cover;
    background-image: url('/img/cover.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#btnCheckoutPg {
    background-color: #b35900;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 149px;
    font-size: 17px;
    border: 1px solid #b35900;
}

#btnCheckoutPg:hover {
    background-color: #ec8f33;
    border: 1px solid #b35900;
}

input,
select,
textarea {
    background-color: #E5B98D;
    border: 1px solid #E5B98D;
    padding-left: 10px;
}

option {
    background-color: white;
}

.fieldLabel {
    text-align: right;
    padding-right: 10px;
    padding-left: 20px;

}

#border {
    border-style: solid;
    border-color: #E5B98D;
    padding: 10px;
}

#removeItem {
    color: #b35900;
}

#removeItem:hover {
    color: red;
}