    <!-- This is for any pages except for Home to apply background image. 
    Feel free to use this component.-->
    <body>
    </body>
    <style>
        body {
            background-image: url('/img/bg.jpg');
            background-repeat: no-repeat;
            background-size: 100% auto;
        }
    </style>