<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a
            class="navbar-brand"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation"
            href="/"
            rel="noopener"
        >
            <img src="/img/logo.png"
                width="36"
                height="36"
                class="navbar-nav-svg d-inline-blalign-text-top"
                viewBox="0 0 512 499.36"
            >
                <title>Brew4You</title>

            <small class="d-md-none ms-2">Brew4You</small>
        </a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mx-auto me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/menu_list">Menu List</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                        aria-expanded="false">My Profile</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li>
                            <a class="dropdown-item" href="/profile/edit">Edit Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/profile/change-password">Change Password</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/profile/order_history">Order History</a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/track_order">Track Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/review">Contact Us</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productDropdown" data-bs-toggle="dropdown"
                        aria-expanded="false">Products</a>
                    <ul class="dropdown-menu" aria-labelledby="productDropdown">
                        <li>
                            <a class="dropdown-item" href="/add_product">Add Product</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/list_products">List Products</a>
                        </li>
                    </ul>
                </li> -->
            </ul>
            <span id="username" style="color: white;">Hello Giang Nguyen</span>
            &nbsp;
            <a class="btn btn-outline-primary" href="/signout">Logout</a>
        </div>
    </div>
</nav>
<script>
    $(document).ready(function(){
        $("#username").text(`Hello ${sessionStorage.getItem("username")}`);
    });
</script>