<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="padding-top: 5rem; max-width: 300px;">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link-custom active" href="/staff/dashboard">
                    <span data-feather="home"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link-custom" href="#">
                    <span data-feather="users"></span>
                    Customers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link-custom" href="/list_products">
                    <span data-feather="file"></span>
                    Menu
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link-custom" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Analytics
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link-custom" href="/reviews">
                    <span data-feather="book-open"></span>
                    Report
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link-custom" href="#">
                    <span data-feather="truck"></span>
                    Delivery
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link-custom" href="#">
                    <span data-feather="layers"></span>
                    Marketing
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link-custom" href="/staff">
                    <span data-feather="user"></span>
                    Staff
                </a>
            </li>
        </ul>

        <!-- <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link-custom" href="#">
                    <span data-feather="file-text"></span>
                    Current month
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link-custom" href="#">
                    <span data-feather="file-text"></span>
                    Last quarter
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link-custom" href="#">
                    <span data-feather="file-text"></span>
                    Social engagement
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link-custom" href="#">
                    <span data-feather="file-text"></span>
                    Year-end sale
                </a>
            </li>
        </ul> -->
    </div>
</nav>