<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <div class="container pt-4">
            <form action="" method="post">
                <div class="text-center p-4">
                    <h4>Thank you Page</h4>
                    <label style="font-weight: bold">Thank you for your purchase </label>
                </div>

                <div class="text-center pt-4">
                            <a href="http://localhost:3000" class="btn btn-lg btn-primary"> Main Page</a>

                            <a href="/menu_list" class="btn btn-lg btn-primary">Menu List</a>

                </div>
            </form>
        </div>
    </body>
</html>
