<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <main class="container">
            <div class="starter-template text-center py-5 px-3">
                <h1>Hello, this is root page. Feel free to customize</h1>
                <%if (customerName !== null) { %>
                <h1>Hello <%= customerName %></h1>
                <% }else{ %>
                <h1>You are not logged in</h1>
                <% } %>
            </div>
        </main>
    </body>
</html>
