<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <main class="container">
            <div class="starter-template text-center py-5 px-3">
                <h1>Hello, this is root page. Feel free to customize</h1>
                <a href="/add_product" class="btn btn-lg btn-primary"
                    >Add Product</a
                >
                <a href="/list_products" class="btn btn-lg btn-primary"
                    >List Products</a
                >
                <h1>You are not logged in</h1>
            </div>
        </main>
        <script>
            // just to make sure this is working
            hello('this is a param');
        </script>
    </body>
</html>
