<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <div class="input-group rounded" style="width: 200px; margin: 10px">
            <input
                type="search"
                class="form-control rounded"
                placeholder="Search by Order #"
                aria-label="Search"
                aria-describedby="search-addon"
            />
        </div>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="list-group list-group-flush">
                    <a
                        href="#table01"
                        class="list-group-item list-group-item-action bg-light"
                        >Current Order</a
                    >
                    <a
                        href="#table02"
                        class="list-group-item list-group-item-action bg-light"
                        >History</a
                    >
                </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <main class="container">
                        <div class="card card-timeline px-2 border-none">
                            <ul class="bs4-order-tracking">
                                <li class="step active">Ordered</li>
                                <li class="step active">Ready</li>
                                <li class="step">Shipped</li>
                                <li class="step">Delivered</li>
                            </ul>
                            <h5 class="text-center">
                                <b>Ready</b>. The order is ready!
                            </h5>
                        </div>
                        <br />
                        <h3>Updates:</h3>
                        <table class="table" id="table01">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col" colspan="2">Description</th>
                                    <th scope="col">Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>03/02/2021 - 17:00</td>
                                    <td colspan="2">Processing your order.</td>
                                    <td>Ready</td>
                                </tr>
                                <tr>
                                    <td>03/02/2021 - 16:30</td>
                                    <td colspan="2">We received your order</td>
                                    <td>Orded</td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <br />
                        <h3>Order History</h3>
                        <table class="table" id="table02">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Items</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>001</td>
                                    <td>
                                        <div>
                                            <ol>
                                                <li>Americano</li>
                                                <li>Mocha</li>
                                                <li>Irish</li>
                                            </ol>
                                        </div>
                                    </td>
                                    <td>$25.0</td>
                                    <td>2021-02-20</td>
                                </tr>
                                <tr>
                                    <td>002</td>
                                    <td>
                                        <div>
                                            <ol>
                                                <li>Cafe Latte</li>
                                            </ol>
                                        </div>
                                    </td>
                                    <td>$10.0</td>
                                    <td>2021-01-10</td>
                                </tr>
                                <tr>
                                    <td>003</td>
                                    <td>
                                        <div>
                                            <ol>
                                                <li>Cafe Latte</li>
                                                <li>Flat White</li>
                                            </ol>
                                        </div>
                                    </td>
                                    <td>$20.0</td>
                                    <td>2020-11-08</td>
                                </tr>
                            </tbody>
                        </table>
                    </main>
                </div>
            </div>
        </div>
    </body>
</html>
