<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <main class="container">
            <div class="starter-template text-center py-5 px-3">
                <%if (customerName !== null) { %>
                <h1>You are logged in now.!</h1>
                <% }%>
                <h2>
                    Welcome page, maybe put more personal-related stuff here if
                    logged here
                </h2>
            </div>
        </main>
    </body>
</html>
